body{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin: 0;
}

.container{
    width: 1170px;
    margin: auto;
}

.button{
    font-weight: bold;
}

.button{
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 13px 40px;
    border-radius: 15px;
    outline: black;
    box-shadow: 1px 2px 50px 10px rgb(255, 253, 255);
}

.button:hover{
    color: #19283f;
    background-color: whitesmoke; 
    cursor: pointer;
   
}

.header-section{
    background-image: url(pictures/logo-photo.jpg);
    background-position: center;
    background-color: #19283f;
    color: #A8B9C0;
    padding-top: 15px;
    padding-bottom: 500px;
}

.header-section nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 150px;
}

.header-section nav{
    padding-top: 15px;
    align-items: center;
}

.header-section main{
    text-align: center;
    color: #F0F8FB;
    /*text-shadow: 1px 1px 0px rgba(255,255,255,1);*/
}

.header-section h1{
    font-size: 51px;
    font-weight: 300;
    margin: 0;
}

.header-section h3{
    font-weight: 300;
    font-size: 15px;
    font-size: inherit;
    margin: 0;
    margin-bottom: 30px;
}
.menu{
    list-style: none;
    margin: 0;
}

.menu-item{
    display: inline-block;
    padding-right: 30px;
    line-height: 30px;
}

.menu-item:last-of-type{
    border-right: 1px solid #ffffff;
}

.menu-item a{
    color: inherit;
    text-decoration: none;
}

.menu-item a:hover{
    box-shadow: 1px 2px 50px 10px rgb(255, 253, 255);
    color:#ffffff;
    text-decoration: underline;
  
}

.search-button{
    background-color: transparent;
    border: 1px solid black;
    outline: black;
    margin: 0 30px;
}

.search-icon{
    display: block;
    width: 30px;
    height: 30px;
    background: url(Icons/search-icon-removebg-preview.png) no-repeat;
    background-size: contain;
}

.button2{
    background-color: black;
}


@media (max-width: 800px){

    .container{
        width: 100vw;
    }

    .header-section .menu{
        display: none;
    }

    .search-icon{
        position: relative;
        z-index: 2;
    }

    .menu.active{
        display: flex;
        gap: 30px;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-left: 0px;
        width: 100vw;
        height: 100vh;
        background: purple;
        align-items: center;
        justify-content: center;
    }

    .menu-item{
        font-size: 40px;
        font-weight: bold;
    }
}